<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quiz Flask</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <main class="wrap">
    <h1>Quiz Flask</h1>

    <section class="card">
        <p class="hud">
            Skóre: <strong id="score">0</strong>
            <span class="sep">•</span>
            Otázka: <strong id="count">0</strong>
        </p>
      <div class="row">
        <label for="category">Kategorie:</label>
        <select id="category">
          {% for c in categories %}
            <option value="{{ c }}">{{ c }}</option>
          {% endfor %}
        </select>
        <button id="load">Načíst otázku</button>
      </div>

      <div id="quiz" class="quiz hidden">
        <p class="meta" id="meta"></p>
        <h2 class="question" id="question"></h2>
        <div class="choices" id="choices"></div>
      </div>

      <p id="error" class="error"></p>
    </section>
  </main>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>